<div class="todo-container"> 
  
  <h1>Lista de Produtos</h1> 

  <!-- Campo para adicionar nova tarefa --> 
  <input 
    type="text" 
    [(ngModel)]="novoProduto" 
    placeholder="Adicionar um novo produto" 
    class="product-input"
    /> 

   <!-- Botão para adicionar tarefa -->
   <button (click)="addProduto()" class="add-btn">Adicionar</button> 
   
   <ul class="product-list"> 
    <!-- Exibe as tarefas --> 
    <li *ngFor="let produto of produtos; let i = index" class="product-item"> 
      {{produto}} 
      <button (click)="deleteProduto(i)" class="delete-btn">Deletar</button> </li> 
  </ul>
</div>
